@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #05ff05;
    opacity: 0.2;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #05ff05;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #05ff05;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
    color: #05ff05;
    background-color: rgb(17, 16, 16);
    font-family: 'Russo One', sans-serif;
    box-shadow: rgba(255, 255, 255, 0.151) 0px 0px 15px 15px;
}

body {
    background-color: black;
}

.con {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    margin: 30px;
    width: 64%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

input {
    background-color: rgb(17, 16, 16);
    width: 70%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    border: .5px solid white;
    border-radius: 5px;
    color: #39FF14;
}

button {
    border: .5px solid white;
    background-color: rgb(17, 16, 16);
    height: 40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #3aea3a;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.01rem;
}

button:hover {
    cursor: pointer;
    color: #3aea3a;
    background-color: rgb(31, 30, 30);
}

#data-look-up-container {
    margin: 0 auto;
    width: 50%;
    background-color: rgb(17, 16, 16);
    box-shadow: rgba(255, 255, 255, 0.151) 0px 2px 8px 0px;
}

#scanned-data {
    font-family: 'Roboto Mono', monospace;
    color: #39FF14;
    padding: 20px 20px 20px 20px;
    line-height: 30px;
    word-wrap: break-word;
}


@media only screen and (max-width: 612px) {
    .container {
        margin: 30px;
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 10px;
    }

    input {
        width: 100%;
        font-size: 16px;
        padding: 7px;
    }

    button {
        height: 40px;
        font-size: 18px;
        padding: 12px;
        border-radius: 5px;
        color: #3aea3a;
        letter-spacing: 0.01rem;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #05ff05;
        opacity: 0.8;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #05ff05;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #05ff05;
    }

    #data-look-up-container {
        width: 90%;
        background-color: rgb(17, 16, 16);
        box-shadow: rgba(255, 255, 255, 0.356) 0px 2px 8px 0px;
    }
}